<%- include("header") -%>

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Album example</h1>
            <p class="lead text-muted">Adicione aqui o seu produto</p>
        </div>
        <br>
        <div class="container">
            <form method="post" enctype="multipart/form-data" action="/compose">
                <div class="form-group">
                    <label for="exampleFormControlFile1">Adicione a imagem do produto</label>
                    <input type="file" accept=".jpeg, .png, .jpg" name="img" class="form-control-file" id="exampleFormControlFile1">
                </div>
                <br>
                <div class="form-group">
                    <label for="nome">Descrição produto</label>
                    <input type="text" name="description" id="nome" class="form-control">
                </div>
                <br>
                <div class="form-group">
                    <label for="price">Preço</label>
                    <input type="text" name="price" id="price" class="form-control">
                </div>
                <button type="submit" class="btn-primary mt-3">Publicar</button>
            </form>
        </div>
    </section>



    </body>

    </html>