<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>brechodozinho</title>
    <link rel="shortcut icon" href="https://i.pinimg.com/564x/72/17/5a/72175aca5b105b3593683a5bf7695213.jpg"
        type="image/x-icon" />
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <div>
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <img src="https://i.pinimg.com/564x/72/17/5a/72175aca5b105b3593683a5bf7695213.jpg" width="50px"
                        height="50px" alt="">
                </svg>
                <span class="fs-4">Brechódozinho</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/compose" class="nav-link active" aria-current="page">Publicar</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Sobre</a></li>
                <li class="nav-item"></li>
            </ul>
        </header>
    </div>